.form-container {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  margin: auto;
  width: 50%;
  max-width: 430px;
}
.form {
  display: flex;
  flex-direction: column;
}
.left-half {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.form-header {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 600;
}
.back {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  cursor: pointer;
  float: left;
  margin-left: 2rem;
}
.select-input {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  border-color: #D1D5DB;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.title-container {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #7e858e;
  line-height: 1rem;
  text-transform: uppercase;
}

.input-container, .textarea-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  margin-top: 0.5rem;
  background-color: #fff; 
  border-radius: 0.125rem; 
  border: 1px solid #e0e7ff; 
  border-radius: 5px;
  padding-right: 1.25rem; 
  width: 100%;
}

.textarea-container {
  resize: vertical;
  row: 6;
}

.description-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.125rem;
  border: 1px solid #e0e7ff;
  color: #4338ca;
}

.button.primary {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 2.5rem 0;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: #2563eb;
  border-radius: 0.375rem;
  align-self: center;
  border: none;
}

.error-message {
  color: red;
  font-weight: 600;
  margin-top: 0;
  font-size: 0.8rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100vh - 5rem);
}

.main-image {
  flex-grow: 1;
  width: 100%;
  aspect-ratio: 100 / 68;
}
.back-btn {
  margin: 1rem 0
}

@media (max-width: 700px) {
  .image-container {
    display: none;
  }
  .left-half {
    width: 100%;
  }
}